html {
  --bg: #211927;
  --fg: #efefef;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 95%;
  letter-spacing: -.04em;
  font-family: monospace;
  scroll-behavior: smooth;
}

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Helvetica Neue, sans-serif;
  font-size: inherit;
}

img {
  text-align: center;

  /* nearest-neighbour scaling on images */
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

a {
  color: #BBB;
}

a:hover,
a:focus {
  color: #fff;
}

.main {
  position: relative;
  padding-left: 10rem;
  width: 100%;
}

hr {
  width: 100%;
  border: inset 1px #efefef;
}

::selection {
  background-color: #fff;
  color: #000;
}

@import "./index.scss";
@import "./linkList.scss";
@import "./projectPage.scss";
