@use "sass:meta";
@include meta.load-css("normalize.css");

html {
	--bg: #211927;
	--fg: #efefef;
	background-color: var(--bg);
	color: var(--fg);
	font-size: 95%;
	letter-spacing: -0.04em;
	font-family: monospace;
}

html,
body,
#__next {
	height: 100%;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h {
	padding: 0;
	margin: 0;
	font-family:
		Segoe UI,
		Helvetica Neue,
		sans-serif;
	font-size: inherit;
}

img {
	text-align: center;
}

a {
	color: #bbb;
}

a:hover,
a:focus {
	color: #fff;
}

.main {
	position: relative;
	padding-left: 10rem;
	width: 100%;
}

hr {
	width: 100%;
	border: inset 1px #efefef;
}

::selection {
	background-color: #fff;
	color: #000;
}

@include meta.load-css("index.scss");
@include meta.load-css("linkList.scss");
@include meta.load-css("projectPage.scss");
