@use "sass:math";

noscript {
	padding: 1rem;
}

.index {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: min-content;
	grid-auto-flow: row dense;

	> .bio {
		grid-column-start: 2;
		grid-row-start: 2;
		box-shadow: inset 0 0 0.5rem var(--bg);
		background: var(--fg);
		color: var(--bg);

		@media all and (max-width: 1100px) {
			grid-column-start: 1;
			grid-column-end: -1;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	&.project > .bio {
		grid-column-start: 1;
		grid-column-end: -1;
	}

	@media all and (max-width: 1100px) {
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	}

	.bio .h:first-child {
		font-size: 100%;
		margin-bottom: 0.5rem;
	}

	.bio .h:not(:first-child) {
		font-size: 90%;
		font-weight: normal;
	}

	.bio > .see-more {
		text-decoration: underline;
	}

	.project {
		position: relative;
		color: inherit;

		@media all and (min-width: 40rem) {
			&.showcase {
				grid-column: span 2;
				grid-row: span 2;
			}
		}

		figure {
			margin: 0;
			width: 100%;
			height: 0;
			padding-bottom: math.div(250, 315) * 100%;
			overflow: hidden;
		}

		figure .thumbnail {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: opacity 0.2s ease-out;
			opacity: 1;

			&.loading {
				opacity: 0;
			}
		}

		figure:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			transition: opacity 0.2s ease-out;
			background: url("../images/dither.png") fixed;
		}

		figcaption {
			display: block;
			top: 0;
			left: 0;
			position: absolute;
			word-break: break-word;
			transition: opacity 0.1s ease-out;
			background: url("../images/dither.png") fixed;
		}

		figcaption > .h:first-child {
			font-size: 125%;
			margin-bottom: 0.5rem;
		}

		figcaption > .h:nth-child(2) {
			font-size: 100%;
			font-weight: normal;
		}

		@media all and (max-width: 1100px) {
			figcaption > .h:first-child {
				font-size: 100%;
			}

			figcaption > .h:nth-child(2) {
				font-size: 90%;
			}
		}

		/* hover */
		&:hover .thumbnail,
		&:active .thumbnail,
		&:focus .thumbnail {
			opacity: 1;
			filter: none;
		}

		&:hover figure:after,
		&:focus-visible figure:after {
			opacity: 0;
		}
	}

	.project figcaption,
	.bio {
		padding: 1rem;
	}

	> button {
		all: unset;
		position: fixed;
		bottom: 0;
		right: 0;
		color: var(--fg);
		cursor: pointer;
		padding: 1rem;
		transition: opacity 0.1s ease-in-out;

		&:hover:not(:active) {
			opacity: 0.5;
		}
	}
}
