.project-page {
  grid-column: 1 / -1;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  &.top {
    grid-row-start: 1;
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
    transform-origin: bottom center;
  }

  > a {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    text-decoration: none;
    font-weight: normal;
    font-size: 200%;
    z-index: 1;
    filter: drop-shadow(0 0 0.25rem #000);
  }

  > main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    max-height: 100%;
    overflow: auto;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 3rem,
      rgba(0, 0, 0, 1)
    );
    text-shadow: 0 2px 2px #000;

    > * {
      margin: 0.5rem 0;
      animation: slide-in 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 150}ms;
        }
      }
    }

    > .h:first-child {
      font-size: 350%;
    }

    > .h:nth-child(3) {
      font-size: 115%;
      font-weight: normal;
      font-style: italic;
    }

    > .description {
      max-width: 60em;

      blockquote {
        padding-inline-start: 0.5rem;
        border-inline-start: solid 1px var(--fg);
        border-inline-start-style: dotted;
        font-style: italic;
      }

      ul, ol {
        padding: 0;
        margin-inline-start: 1.5em;
        list-style-type: circle;
      }

      > *:not(:last-child) {
        margin: 0;
        margin-bottom: 1em;
      }
    }

    .link-list > li > a:before {
      background-color: var(--fg);
    }
    .link-list > li {
      animation: slide-in 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}n) {
          animation-delay: #{500 + $i * 200}ms;
        }
      }
    }
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
