---
import Seo from "../components/seo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Seo slot="seo" title="404" description="Not found" />

	<main class="index">
		<header class="bio">
			<h1 class="h">404</h1>
			<span class="h">Not found</span>
			<p>
				<a href="/">back to home</a>
			</p>
		</header>
	</main>
</Layout>
