---
import { author, org } from "../content/jsonld";
import LinkList from "./linkList.astro";

type Props = { seeMore?: boolean };
const { seeMore } = Astro.props;
const H = seeMore ? "h2" : "h1";
---

<header class="bio">
	<script set:html={JSON.stringify([author, org])} type="application/ld+json" />
	<a href="/">
		<H class="h">Sean S. LeBlanc</H>
		<span class="h">I Make Stuff</span>
	</a>
	<p>
		Hey there! I'm a UX dev, tools dev, game dev, and general-purpose media
		person from Ottawa, Canada.
	</p>
	{
		seeMore && (
			<a class="see-more" href="/">
				See more projects I've worked on.
			</a>
		)
	}
	<p>You can find me at Various Places on The Internet.</p>
	<LinkList
		id="contact"
		links={[
			["mailto:sean.s.leblanc@gmail.com", { "aria-label": "e-mail me" }],
			[
				"https://seansleblanc.itch.io",
				{ "aria-label": "play my games on itch.io" },
			],
			["https://github.com/seleb", { "aria-label": "view my code on github" }],
			[
				"https://timetheft.social/@sean",
				{ rel: "me", "aria-label": "visit my mastodon profile" },
			],
			[
				"https://bsky.app/profile/seans.site",
				{ rel: "me", "aria-label": "visit my bluesky profile" },
			],
			["https://blog.seans.site", { "aria-label": "read my blog on tumblr" }],
			[
				"https://twitter.com/seansleblanc",
				{ "aria-label": "visit my twitter profile" },
			],
			["/rss.xml", { "aria-label": "view my RSS feed" }],
		]}
	/>
</header>
