---
import type { ComponentProps } from "astro/types";
import { projectToJson } from "../content/jsonld";
import Project from "./project.astro";

type Props = {
	projects: (ComponentProps<typeof Project>["project"] & { slug: string })[];
};

const { projects } = Astro.props;
---

<script
	type="application/ld+json"
	set:html={JSON.stringify(projects.map(projectToJson))}
/>
{
	projects.map((p, idx) => (
		<a
			href={`/project/${p.slug}/`}
			class={`project${p.showcase ? " showcase" : ""}`}
		>
			<Project project={p} idx={idx} />
		</a>
	))
}
