---
import { siteUrl } from "../content/url";
import "../styles/_app.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<link href="/favicon-32x32.png" rel="shortcut icon" />
		<link
			href={`${siteUrl}/rss.xml`}
			rel="alternate"
			title="Sean's Site's RSS Feed"
			type="application/rss+xml"
		/>
		<meta content={Astro.generator} name="generator" />
		<slot name="seo" />
	</head>
	<body>
		<slot />
	</body>
</html>
