---
import { siteUrl } from "../content/url";
import "../styles/_app.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon-32x32.png" />
		<link
			rel="alternate"
			type="application/rss+xml"
			href={`${siteUrl}/rss.xml`}
			title="Sean's Site's RSS Feed"
		/>
		<meta name="generator" content={Astro.generator} />
		<slot name="seo" />
	</head>
	<body>
		<slot />
	</body>
</html>
